<!DOCTYPE html> <!-- The new doctype -->
<html>
    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>Movies of the Decade</title>
        <link rel="icon" type="image/ico" href="/assets/img/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="/assets/img/favicon.png"/>
        
    </head>
    
    <body>
    	
