<%- include('partials/header') %>

    <body>
        
        <section id="page3"> <!-- Defining the #page section with the section tag -->
            <header> <!-- Defining the header section of the page with the appropriate tag -->
                <hgroup>
                    <h1>Movies of the Decade</h1>
                    <h3>2000 ~ 2010</h3>
                </hgroup>

                <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>                       
            </header>
            <div class="line"></div> 
            <aside id="cache-sidebar-A" >
                <article> 
                    <h2>LINKS</h2>
                    <div class="line"></div>
                    <div class="links clear">
                        <ul>
                            <li><a href="https://en.wikipedia.org/wiki/Cach%C3%A9_(film)" >Wikipedia</a><br></li>
                            <li><a href="https://www.rottentomatoes.com/m/cache_2005" >Rotten Tomoatoes</a><br></li>
                            <li><a href="https://www.rogerebert.com/reviews/great-movie-cache-2005" >Roger Ebert</a><br></li>
                            <li><a href="https://www.metacritic.com/movie/hidden" >Metacritic</a><br></li>
                        </ul>    
                    </div>
                </article>                
            </aside>
            <main id="cache-main"> 
                <article> 
                    <h2>Caché (2005)</h2>
                    <div class="line"></div>
                    <div class="trailer">
                        <iframe src="https://www.youtube.com/embed/pvT_9TqIEtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                           
                    </div>
                    <div class="articleBody clear">

                        <p>The review aggregator website Rotten Tomatoes reported an 89% approval rating, with an average rating of 7.8/10 based on 134 reviews. The website's critical consensus reads, "A creepy French psychological thriller that commands the audience's attention throughout".</p>
                        <p>Ebert added the film to his Great Movies list in 2010, expressing disbelief about missing a possible "smoking gun" after two viewings, crediting Juliette Binoche for a naturalistic performance, and pondered the 1961 massacre: "Has France hidden it in its memory?"</p>
                    </div>
                </article>
            </main>
            <aside id="cache-sidebar-B" >
                <article> 
                    <h2>MICHAEL HANNEKE</h2>
                    <div class="line"></div>
                    <div class="director-img">
                        <img src="/assets/img/hanneke.jpg" alt="Michael Hanneke" title="Michael Hanneke">
                    </div>
                    <div class="articleBody clear">
                        <p>Michael Haneke (German: [ˈhaːnəkə]; born 23 March 1942) is an Austrian film director and screenwriter. His work often examines social issues and depicts the feelings of estrangement experienced by individuals in modern society.</p>
                        <p>In 2013, Haneke won the Prince of Asturias Award for the arts. His twelfth and most recent film, Happy End, was nominated for the Palme d'Or at the 2017 Cannes Film Festival.</p>
                    </div>
                </article>
                x
            </aside>
        </section>
    <%- include('partials/footer') %>                
