<%- include('partials/header') %>

    
    <body>
        
        <section id="page"> <!-- Defining the #page section with the section tag -->
    
            <header> <!-- Defining the header section of the page with the appropriate tag -->
            
                <hgroup>
                    <h1>Movies of the Decade</h1>
                    <h3>2000 ~ 2010</h3>
                </hgroup>
                                
                <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>
            
            </header>
            
            <section id="articles"> <!-- A new section with the articles -->

                <!-- Article 1 start -->

                <div class="line"></div>  <!-- Dividing line -->
                
                <article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
                    <h2>This Page is Under Construction</h2>

                    <div class="line"></div>
                
                    <div class="articleBody clear">
                    
                        <p><a href="mailto:fabio.kim2@gmail.com">Contact us for more information about I Love You Man</a></p>

                    </div>
                </article>
                
                <!-- Article 1 end -->

            </section>
            <%- include('partials/footer') %>                


