
<%- include('partials/header') %>
    
    <body>
    	
    	<section id="page2"> <!-- Defining the #page section with the section tag -->
    
            <header> <!-- Defining the header section of the page with the appropriate tag -->
            
                <hgroup>
					<h1>Movies of the Decade</h1>
					<h3>2000 ~ 2010</h3>
				</hgroup> 
                <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>                                       
        
            </header>
            <div class="line"></div>
            <main id="memories-main" > 
                              
                <article> 
                    
                    <h2>Memories of Murder (2003)</h2>

                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    
                    	<div class="trailer">
							<iframe src="https://www.youtube.com/embed/-YvWR3Bds0A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    		
                    	</div>
                        

                        <p>Memories of Murder was well received by both critics and audiences. On review aggregator website Rotten Tomatoes, the film has an approval rating of 90% based on 40 reviews, with an average rating of 7.75/10. The site's critics consensus reads, "Memories of Murder blends the familiar crime genre with social satire and comedy, capturing the all-too human desperation of its key characters." On Metacritic, the film has a weighted average score of 82 out of 100 based on 15 critics, indicating "universal acclaim". The film won the South Korean film industry's 2003 Grand Bell Awards for best film, while Bong Joon-ho and Song Kang-ho won the awards for best director and best leading actor respectively. </p>
                        <p>Director Quentin Tarantino named it, along with Bong's The Host, one of his Top 20 favorite movies since 1992. It was also chosen as the best Korean film of the century.</p>
						
                    </div>

                </article>
            </main>

            <aside id="memories-aside">
                <article> 
                    <h2>BONG JOON-HO</h2>
                    <div class="line"></div>
                    <div class="director-img">
                        <img src="/assets/img/bong.jpg" alt="Bong Joon-ho" title="Bong-Joon Ho Picture" >
                    </div>
                    <div class="articleBody clear">
                        <p>Bong Joon-ho (Korean: 봉준호, Korean pronunciation: [poːŋ tɕuːnho → poːŋdʑunɦo]; born September 14, 1969) is a South Korean filmmaker. His films feature social themes, genre-mixing, black humor, and sudden mood shifts. In 2017, Metacritic ranked Bong 13th on its list of the 25 best film directors of the 21st century.</p>
                        
                    </div>
                </article>              
            </aside>
        </section>
    <%- include('partials/footer') %>
            